*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}

.headerTitle{
    background: black;
    text-align: center;
    color: white;
    padding: 10;  
}

nav{
    display: flex;
    align-items: center;
}

/* menu-btn */

.menu-btn {
  display: inline-block;
  width: 25px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px;
  transition: 0.4s;
}

/* Rotate first bar */
.change  .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* menu-btn end */

.logo{
  height: 80;
}

.button-container{
  text-align: right;
  display: flex;
  margin-left: 800px;
}

.btn1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 17;
  padding: 16px;
  margin: 10;
  margin-right: 40;
  border-color: #008B8B;
  border-radius: 5px;
}

.btn1:hover{
  background-color: #777;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.btn2{
  font-family:'Bahnschrift Light';
  padding: 10;
  font-weight: 700;
  margin: 10;
  border-color: #40E0D0;
  border-radius: 5px;
  background-color: #40E0D0;
  font-size: 20;   
}

.bookShelfImg{
  height: 35; 
}

.btn2:hover{
  background-color: #4fb3a9;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.back-img {
  height: 550;
  width: 100%;
  background: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

.searchContainer{
  position: absolute;
  display: block;
  margin-top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 50px;
  border: 4px solid #2980b9;
  padding: 0 10;
  border-radius: 50px;  
  background-color: #fff;
}

.elementContainer{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

.searchBar{
  position: relative;
  border: none;
  padding: 10;
  width: 500;
  border-color: white;
  height: 40;
  border-radius: 35px;
  font-size: 20;
}
.searchBar:focus
{
  outline: none;
}

.searchBtn{
  margin-left: 30;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #fff;
  height: 10;
  width: 20;
  font-size: 20;
  color: #333;
}
.searchBtn:focus
{
  outline: none;
}


.topBooks{
  color:#a10d64;
  font-size: 30px;
  font-weight: 750;
  font-family:system-ui, Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 50px 0 0 10px;
  padding: 10 10 10 50;
  background: linear-gradient(45deg, #fbda61, #ff5acd);
  border: 4px solid #fff;
  border-radius: 20px;
}

#star{
  color: #ffcc0d;
  font-size: 20;
}

.card-text{
  color: #000;
  font-size: 18;
  font-style: italic;
}

.text-muted{
  font-size: 20;
  padding: 5 0;
}

/* cards */
.cards-wrapper {
display: flex;
justify-content: center;
}

.card img {
max-width: 100%;
height: 300px;
}

.card {
margin: 15px 0 0 1em;
height: 500px;
width: 300px;
box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
border: 3;
border-radius: 0;
padding: 10;
}

.carousel-inner {
padding: 1em;
}

.card-title{
padding: 0;
margin: 0 0 2px 0;
}

.carousel-control-prev,
.carousel-control-next {
background-color: #e1e1e1;
width: 5vh;
height: 5vh;
border-radius: 50%;
top: 50%;
transform: translateY(-50%);
margin: 10px 0 0 0.5em;
}

.card:hover{
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


/* profile Card */
.auther{
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 80;
  text-decoration: underline;
  color: rgb(31, 144, 108);
  font-family: Brush Script MT;
  text-align: center;
}

.profile-card-container{
  display: flex;
  justify-content: center;
}

.profileCard{
  margin: 50px;
  position: relative;
  width: 350px;
  height: 190px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
  transition: 0.5s;
}

.profileCard:hover{
  height: 450px;
}

.imgBx{
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0,0,0,0.35);
  overflow: hidden;
  transition: 0.5s;
}

.profileCard:hover .imgBx{
  width: 250px;
  height: 250px;
}

.imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileCard .content{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.profileCard .content .details{
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}

.profileCard:hover .content .details{
  transform: translateY(0px);
}

.profileCard .content .details h2{
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}

.profileCard .content .details h2 span{
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.profileCard .content .details .data{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.profileCard .content .details .data h3{
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}

.profileCard .content .details .data h3 span{
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.profileCard .content .details .actionBtn{
  display: flex;
  justify-content: space-between;
}

.profileCard .content .details .actionBtn button{
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: #ff5f95;
  color: #fff;
  cursor: pointer;

}

.profileCard .content .details .actionBtn button:nth-child(2){
  border: 1px solid #999;
  color: #999;
  background: #fff;
}

/* footer */

footer{
  margin: 60 0 0 0;
}
.social-links__2{
  background-color: rgb(82, 77, 75);
  color: #fff;
  display: flex;
  padding: 5% 5% 0 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-links__2 section{
  flex-basis: 50%;
}

.about__about__4 {
  text-align: justify;
  padding: 0 5%;
  width: 60%;
}

.subscription__subs__class {
  padding: 0 0 5% 0;
  width: 40%;
}

.social-icons-footer #in__header__i__tag {
  font-size: 37px;
  padding: 7px;
}

.footer-button {
  border: 1px solid #2196f3;
  color: #2196f3;
  font-size: 14px;
  font-weight: bolder;
  background-color: #fff;
  margin: 5px 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.footer-button:hover {
  color: #fff;
  background-color: #2196f3;
}

.copyright{
  font-size: 15px;
  text-align: center;
  background-color: #000;
  padding: 2px;
  color: #fff;
}
